{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Prekių statistika</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Kiekis</th>
                <th>Kaina</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                <td>{{ stat.name }}</td>
                <td>{{ stat.stock }}</td>
                <td>{{ stat.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
