{% extends "pagrindinis.html" %}
{% block title %}Peržiūrėti vartotojus{% endblock %}

{% block content %}
<h2>Vartotojai</h2>
<table>
    <tr>
        <th>Vartotojo vardas</th>
        <th>El.paštas</th>
        <th>Balansas</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.Vartotojo vardas }}</td>
        <td>{{ user.El paštas }}</td>
        <td>{{ user.balansas }}</td>
        </td>
            <form action="{{ url_for('userdelete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}