{% extends 'base.html' %}
{% block content %}
<h2>Atnaujinti Prekių Kiekį</h2>
<form method="POST">
    <label for="product_id">Prekė:</label>
    <select name="product_id" id="product_id">
        {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <label for="new_stock">Naujas Kiekis:</label>
    <input type="number" name="new_stock" id="new_stock" required>
    <button type="submit">Atnaujinti</button>
</form>
{% endblock %}