<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ESHOP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>ESHOP</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Pagrindinis</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    {% if current_user.role == 'admin' %}
                        <li><a href="{{ url_for('admin') }}">Admin Panel</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                <li><a href="{{ url_for('prekes') }}">Kontaktai</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Content block for each page -->
        {% block content %}{% endblock %}
    </main>
</body>
</html>