{% extends 'base.html' %}

{% block title %}Prisijungti{% endblock %}

{% block content %}
<h1>Prisijungti</h1>
<div class="form-container">
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-row">
            <label for="username">Vartotojo vardas:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-row">
            <label for="password">Slaptažodis:</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-row">
            <input type="submit" value="Prisijungti">
        </div>
    </form>
</div>
{% endblock %}