{% extends 'base.html' %}

{% block title %}Prekių sąrašas{% endblock %}

{% block content %}
    <h1>Visos prekės:</h1>
    <p>Jas galima pirkti, pirkti, pirkti!</p>

    <div class="products"> <!-- Sorting Options -->
        <p>Sort by:
            <a href="?sort=price">Price</a> |
            <a href="?sort=rating">Rating</a> |
            <!-- <a href="?sort=delivery_date">Delivery Date</a> | -->
            <!-- <a href="?sort=bestsellers">Bestsellers</a> | -->
            <a href="?sort=category">Kategorija</a>
        </p>
    
        {% if products %}
            <ul>
                {% for product in products %}
                    <li>
                        <strong>{{ product.name }}</strong> - ${{ product.price }}<br>
                        <em>{{ product.description }}</em> | Stock: {{ product.stock }} | Category: {{ product.category }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Šiuo metu prekių nėra.</p>
        {% endif %}
    </div>
{% endblock %}
